# Virtual Environment
diarization_env/

# Python
__pycache__/
*.pyc
*.pyo

# Audio Files
*.wav
*.mp3
*.m4a

# Database
*.db

# Generated Reports
*.pdf


# VS Code
.vscode/

# Streamlit cache
.streamlit/

# Model cache
.cache/

# HuggingFace cache
*.ckpt

# Temporary files
temp/
output.txt
output.txt
cleanup_backup/
conversation_history.db
conversation_report.pdf
*.wav
*.mp3
*.m4a
*.flac
uploaded_*
final_live_chunk.wav
live_chunk.wav